html {
  font-family: Texta, sans-serif;
  line-height: 1.45;
  font-size: 20px;
  background: #333;
  color: white;
}

body {
  background: #444;
}

/* ---- a ---- */

a {
  color: #ED0;
  text-decoration: none;
}

a:visited {
  color: #E62;
}

a:hover {
  color: #C25;
}

/* ---- headers ---- */

h1 {
  font-size: 3.0rem;
  margin: 30px 0;
}

h2 {
  font-size: 2.0rem;
  margin: 60px 0 40px;
  position: relative;
  padding-top: 20px;
}

h2:before {
  content: '';
  display: block;
  position: relative;
  top: -20px;
  height: 4px;
  width: 100%;
  background: #222;
  border-radius: 2px;
}

.duo__cell > h2 {
  margin: 0 0 20px;
  
}


/* ---- hr ---- */

hr {
  border: none;
  position: relative;
  height: 4px;
  margin: 60px 0;
}

hr:before {
  content: '';
  display: block;
  background: #222;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}




/* ---- pre, code ---- */

pre, code {
  background: #222;
  color: white;
  font-size: 16px;
}

pre {
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

code {
  padding: 2px;
  border-radius: 3px;
}

pre code {
  padding: 0;
  border-radius: 0;
}
