/* syntax highlight
------------------------- */

code .hl-string,
code .hl-tag .hl-value { color: #0C4; }
code .hl-number, /* integer */
code .hl-cp, /* doctype */
code .hl-literal { color: #38F; } /*boolean*/
code .hl-keyword { color: #F73; } /* keyword */
code .hl-kd, /* storage */
code .hl-attribute { color: #DC8; } /* markup attribute */
code .hl-title { color: #9CF; }
code .hl-params { color: #98D; }
code .hl-regexp  { color: #FC8; } /* regex */
code .hl-o  { color: #F63; }   /* operator */
code .hl-nb { color: #A9A;} /* support */
code .hl-built_in { color: #DD8; }

/* comment */
code .hl-comment { color: #999; font-style: italic; }

code .hl-tag { color: #6CF; } /* Markup open tag */

code .hl-id { color: #ABC; } /* css id */
code .hl-class,
code .hl-selector-class { color: #C95; }  /* CSS class */
code .hl-rules { color: #FED; }
code .hl-m  { color: #DE8E50; } /* CSS value */
code .hl-nd { color: #9FAD7E; } /* CSS pseudo selector */
code .hl-hexcolor { color: #F63; }
code .hl-at_rule { color: #088; }

code .hl-jquery-var { color: #FD9; }

/* ---- light theme ---- */

.theme--light code .hl-string,
.theme--light code .hl-tag .value { color: #092; }
.theme--light code .hl-number, /* integer */
.theme--light code .hl-cp, /* doctype */
.theme--light code .hl-literal { color: #07D; } /*boolean*/
.theme--light code .hl-keyword { color: #D41; } /* keyword */
.theme--light code .hl-kd, /* storage */
.theme--light code .hl-attribute { color: #D31; } /* markup attribute */
.theme--light code .hl-title  { color: #39A; }
.theme--light code .hl-params  { color: #18C; }
.theme--light code .hl-p  { color: #EDB; } /* punctuation */
.theme--light code .hl-o  { color: #F63; }   /* operator */
.theme--light code .hl-nb { color: #A9A;} /* support */
.theme--light code .hl-tag { color: #37B; } /* Markup open tag */
.theme--light code .hl-id { color: #567; } /* css id */
.theme--light code .hl-class { color: #B27; }  /* CSS class */
.theme--light code .hl-rules { color: #431; }
.theme--light code .hl-value  { color: #555; } /* CSS value */
.theme--light code .hl-nd,
.theme--light code .hl-pseudo { color: #38D; } /* CSS pseudo selector */
.theme--light code .hl-hexcolor { color: #F63; }
.theme--light code .hl-at_rule { color: #088; }
.theme--light code .hl-built_in { color: #19F; }
.theme--light code .hl-jquery-var { color: #D62; }
