/* lesson-preview
------------------------- */

.lesson-preview {
  margin: 40px 0 80px;
  padding-top: 20px;
  position: relative;
}

.lesson-preview:before {
  content: '';
  display: block;
  background: #222;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

.theme--light .lesson-preview:before {
  background: #EEE;
}

/* ---- lesson-preview__button ---- */

.lesson-preview__button {
  display: inline-block;
  background: #E62;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  font-size: 1.2rem;
}

.lesson-preview__button:visited {
  background: #C25;
  color: white;
}

.lesson-preview__button:hover {
  background: #19F;
  color: white;
}
