<div class="duo">
  <div class="duo__cell">
    <h3>Look out for</h3>
    <p>{{{problemText}}}</p>
  </div>
  <div class="duo__cell">
    <h3>Resolve by</h3>
    <p>{{{solutionText}}}</p>
  </div>
</div>

<div class="duo">
  <div class="duo__cell">
``` js
{{{problemCode}}}```
    {{> edit-codepen codepenSlug=problemCodepen }}
  </div>
  <div class="duo__cell">
``` js
{{{resolveCode}}}```
    {{> edit-codepen codepenSlug=resolveCodepen }}
  </div>
</div>
