<footer class="site-footer">
  <div class="container">
    <p class="site-footer__copy">
      {{> mfzy-logo}}
      Metafizzy put these JavaScript lessons to work in powerful &amp; easy-to-use plugins
    </p>

    {{> showcase}}
  </div>
</footer>
