/* site-footer
------------------------- */

.site-footer {
  background: #222;
  padding: 40px 0;
}

.theme--light .site-footer {
  background: #EEE;
}

.site-footer__copy {
  font-size: 1.2rem;
}

.site-footer .mfzy-logo {
  width: 54px;
  height: 54px;
  vertical-align: middle;
  margin-right: 5px;
}
