<div class="witchie-logo">
  <svg class="witchie-logo__svg" xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewBox="0 0 1000 1000">
    <path class="witchie-logo__dress" fill="#333" d="
      M245 800h5c11 0 19 9 19 19v11c0 5 2 10 6 14l19 19c8 8 8 20 0 27
      L212 973c-14 14-38-0-32-20l47-140C230 806 237 800 245 800z M826 685
      c-39 0-69 39-54 80c4 10 15 23 25 28c10 5 19 7 28 7c3 0 7-0 10-1c5-1 9-6 9-11
      v-91c0-6-4-10-9-11C833 686 830 685 826 685 M999 350c-5-22-48-34-113-34
      c-26 0-55 2-86 5c-3 0-6-1-7-3L598 26c-2-4-6-5-10-5c-6 0-12 4-12 12l1 332
      c0 3-2 6-5 7c-108 36-181 80-174 112c3 12 16 21 38 26c3 1 4 4 2 6l-16 16
      c-29 29-82 44-135 44c-46 0-92-11-122-34c-1-1-3-1-4-1c-4 0-7 3-7 7c0 114 99 254 268 254
      h109c4 0 7-2 10-4l56-56c9-9 9-24 0-34L549 657c-6-6-6-15 0-20l22-22
      c2-2 7-1 7 3v23c0 4 3 7 7 7h171c5 0 8-6 4-10L627 505c-2-2-1-5 1-6
      c50-28 87-72 98-124c0-2 2-3 3-3c9-1 17-1 25-1c32 0 54 7 57 20c2 8 5 17 3 24
      c-7 25 2 45 12 45c1 0 2-0 3-0C935 424 1006 381 999 350z" />
    <path  class="witchie-logo__broom" fill="#EEAA00" d="
      M621 756c5-6 10-16 11-29c0-2 2-4 4-4l104 0c2 0 4 2 4 5
      c-2 10-2 19 0 29c0 2-1 5-4 5H624C620 762 619 758 621 756z M941 762
      c11 0 20-10 19-21c-1-10-10-17-20-17h-64c-2 0-4 2-4 4v31c0 2 2 4 4 4H941z M206 735
      c-15-16-28-34-39-53c-1-2-3-4-5-5L28 620C15 615 1 624 1 638v113c0 6 5 12 12 12h33
      c8 0 11 11 3 15L7 797c-4 2-6 6-6 10v41c0 14 14 23 27 18l214-92c3-1 3-5 1-7
      C229 758 217 747 206 735z" />
  </svg>
</div>
