* { box-sizing: border-box; }

html {
  font-family: Texta, sans-serif;
  line-height: 1.45;
  font-size: 17px;
  background: #222;
  color: #F5F5F5;
}

html.theme--light {
  background: #EEE;
  color: #555;
}

body {
  background: #333;
}

.theme--light body {
  background: white;
}

/* ---- a ---- */

a {
  color: #19F;
  text-decoration: none;
}

a:visited {
  color: #E62;
}

a:hover {
  color: #D26;
}

/* ---- headers ---- */

h1 {
  font-size: 2.0rem;
  margin: 20px 0;
  line-height: 1.1;
}

h1 a { color: #E62; }
h1 a:visited { color: #D26; }
h1 a:hover { color: #19F; }

h2 {
  font-size: 1.8rem;
  margin: 40px 0 20px;
  line-height: 1.1;
  position: relative;
  padding-top: 10px;
}

h2:before {
  content: '';
  display: block;
  position: relative;
  top: -10px;
  height: 4px;
  width: 100%;
  background: #222;
  border-radius: 2px;
}

.theme--light h2:before {
  background: #EEE;
}


h3 {
  font-size: 1.4rem;
}

.duo__cell > h3:first-child {
  margin: 0 0 20px;
}

/* ---- hr ---- */

hr {
  border: none;
  position: relative;
  height: 4px;
  margin: 60px 0;
}

hr:before {
  content: '';
  display: block;
  background: #222;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

.theme--light hr:before { background: #EEE; }

/* ---- pre, code ---- */

pre, code {
  font-family: Consolas, Menlo, monospace, monospace;
  background: #222;
  color: white;
  font-size: 14px;
}

.theme--light pre,
.theme--light code {
  background: #F4F4F4;
  color: #333;
}

pre {
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

code {
  padding: 2px;
  border-radius: 3px;
}

pre code {
  padding: 0;
  border-radius: 0;
}

/* ----  ---- */

button {
  font-family: inherit;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }

  h1 {
    font-size: 3.0rem;
    margin: 30px 0;
  }

  h2 {
    font-size: 2.0rem;
    margin: 60px 0 40px;
    padding-top: 20px;
  }

  h2:before {
    top: -20px;
  }

  h3 {
    font-size: 1.5rem;
  }

  pre, code {
    font-size: 16px;
  }
}
