/* site-header
------------------------- */

.site-header {
  padding: 20px 0;
  background: #222;
}

.theme--light .site-header { background: #EEE; }

.site-header .witchie-logo {
  width: 60px;
  height: 60px;
  float: left;
  margin: 0 10px 10px 0;
}

.site-header__title {
  margin: 0;
  color: #D26;
}

.site-header__tagline {
  margin: 0 0 20px;
}

.site-header__link:hover * {
  color: #19F;
}

.site-header__sponsor svg {
  vertical-align: middle;
}

.site-header__sponsor__link {
  display: block;
}

.site-header__sponsor__brought {
  display: block;
  line-height: 1.2;
}

.site-header .metafizzy-logo {
  width: 23px;
  height: 30px;
}

.site-header .metafizzy-logo__body { fill: #D26; }
.site-header .metafizzy-logo__stripes { display: none; }

.site-header .metafizzy-wordmark {
  width: 105px;
  height: 30px;
  stroke: #D26;
}

.site-header a:hover .metafizzy-logo__body { display: none; }
.site-header a:hover .metafizzy-logo__stripes { display: inline; }

.site-header a:hover .metafizzy-wordmark {
  stroke: white;
}

.theme--light .site-header a:hover .metafizzy-wordmark {
  stroke: #333;
}

@media (min-width: 768px) {
  .site-header__flexer {
    display: -webkit-box;
    display: flex;
  }

  .site-header__cell {
    margin-right: 20px;
  }

  .site-header__cell--expand {
    -webkit-box-flex: 1;
    flex-grow: 1;
  }

  .site-header__cell:last-child {
    margin-right: 0;
  }

  .site-header .witchie-logo {
    float: none;
    width: 100px;
    height: 100px;
    margin: 0;
  }

  .site-header .metafizzy-logo {
    width: 35px;
    height: 45px;
  }

  .site-header .metafizzy-wordmark {
    width: 140px;
    height: 40px;
  }

}
