<p class="edit-codepen">
  <a class="edit-codepen__link" href="https://codepen.io/desandro/pen/{{codepenSlug}}">
    <svg class="codepen-logo" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 8 8">
      <path fill="none" stroke="#000" stroke-width="0.6" stroke-linejoin="round" d="M7,3L4,5L1,3l3-2L7,3z M4,3L1,5l3,2l3-2L4,3z M4,1v2 M1,3v2 M4,5v2 M7,3v2" />
    </svg>
    <span class="edit-codepen__text">Edit this demo on CodePen</span>
  </a>
</p>
