/* edit-codepen
------------------------- */

.skinny-column .edit-codepen__link {
  text-decoration: none;
}

a .edit-codepen__text {
  text-decoration: underline;
}

.edit-codepen .codepen-logo {
  width: 24px;
  height: 24px;
  vertical-align: top;
}

.edit-codepen a .codepen-logo {
  stroke: #19F;
}

.edit-codepen a:visited .codepen-logo {
  stroke: #E62;
}

.edit-codepen a:hover .codepen-logo {
  stroke: #C25;
}
